.btn-gray {
  background-color: #5c6574;
  border: none;
  border-radius: 12px;
  //   bottom: 0;
  color: #fff;
  //   margin-top: 40rem;
  font-weight: 500;
  font-family: ttnorms;
  outline: none;
  padding: 2.5rem 6rem;
  margin-bottom: 1rem;
}

.btn-del {
  background-color: #fbebea;
  color: #ef3125;
}
