.footer_container {
  display: flex;
  margin-bottom: 2rem;
}
.mic_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  background: #FF4040 0% 0% no-repeat padding-box;
  border: 1px solid #2F89FE33;
  border-radius: 11px;
  cursor: pointer;
}
.icon_container {
  background: #56585F 0% 0% no-repeat padding-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
.mr_2 {
  margin-right: 1.5rem;
}
.leave_meeting {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF4040 0% 0% no-repeat padding-box;
  border: 1px solid #2F89FE33;
  border-radius: 20px;
  font-family: ttnorms;
  font-size: 1.1rem;
  padding: 0.5rem 4rem;
  cursor: pointer;
}