/*
0 - 600px phone
600px - 900px  Tablet Protraits
900px - 1200px  Tablet Landscape
1200px - 1800 current style apply
1800+ Big desktop
*/
/*
Breakpoint aurgument
- Phone
- Tablet-protrait
- Tablet-landscape
- big Desktop

*/
.form__container {
  width: 100%;
}

.form__wrapper {
  margin: 0 auto;
  width: 30%;
}

@media (max-width: 600px) {
  .form__wrapper {
    width: 100%;
  }
}

.form__input_wrap {
  margin-bottom: 1.9rem;
  width: 100%;
}

.form__input_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__input_inline > .form__input_box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}

.form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form__input_label {
  color: #565b63;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.signup_term,
.signup_privacy,
.navLink {
  color: #ff4040;
  text-decoration: underline;
}

.form__label_text {
  margin-left: 2rem;
}

.form__input {
  border: 0.1px solid #5c65748f;
  outline: none;
  padding: 1.3rem;
}

.form__input_submit_request {
  background-color: #ff4040;
  border: none;
  color: #fff;
  padding: 1.4rem;
  width: 100%;
}

.form__wrapper {
  background: url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940344/apems/group_cn9j34.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 75% 50%;
  position: relative;
  z-index: 1000;
}

.header_form {
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form__signup_header {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
  text-align: justify;
  font-family: ttnorms;
}

.form__signup_subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: ttnorms;
  width: 100%;
  text-align: justify;
}

.form_group {
  position: absolute;
  z-index: 2;
}

.form_options {
  color: #8d8d8d;
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}

.form__social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blur_block,
.blur_block_green {
  background: #ffa640 0% 0% no-repeat padding-box;
  border-radius: 50%;
  -webkit-filter: blur(35px);
  filter: blur(35px);
  height: 6.1rem;
  left: 10%;
  opacity: 1;
  position: absolute;
  top: 40%;
  width: 6.1rem;
}

.blur_block_green {
  background: #09974d 0% 0% no-repeat padding-box;
  -webkit-filter: blur(35px);
  filter: blur(35px);
  left: 130%;
  opacity: 1;
  top: 70%;
}

.form__forget_password_box {
  margin-bottom: 1.5rem;
  text-align: right;
}

.form_forget_password {
  color: #ff4040;
  text-decoration: underline;
}

.validation__error {
  color: #ff4040;
}

.passwordWrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__input {
  width: 100%;
}

.eyeBox {
  margin-left: -3rem;
  margin-top: 1rem;
}
/*# sourceMappingURL=ForgotPassword.module.css.map */
