.swal-confirm {
  background-color: #da291c !important;
}
.swal-cancel {
  background: none !important;
  color: #bac1ca !important;
  border: 1px solid #bac1ca !important;
}
.swal-icon .swal2-icon-content {
  font-size: 90px !important;
}
