.waitingContainer {
  background-color: #2e313e;
  min-height: 100vh;
}
.waitingPeople {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.outRadiusCont {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  animation: pulse 1500ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.outerRadius {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.outRadius {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.innerRadius {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #585b65;
}
.waitingImg {
  width: 8rem;
  height: 8rem;
}
.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
}
.contentPeople {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.55;
  }

  100% {
    transform: scale(1.1);
  }
}
