@import "../../styles/abstracts/mixins";
.meeting__box {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  margin: auto;
  padding: 1rem 5px;
  width: 60%;
  @include respond(tab-land) {
   
  }
  @include respond(phone) {
    background: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
