.stepOne {
  font-family: ttnorms;
  margin-top: 2rem;
  width: 55%;
}
.containerNav_iconBox {
  align-items: center;
  background-color: #acb3bd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  justify-content: center;
  margin-bottom: 9rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: 30px;
}
