.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
}

.avatar-uploader {
  height: 150px !important;
}
// .form__input_date {
//   border: 1px solid #ced0d5;
//   margin-right: 1rem;
//   outline: none;
//   padding: 1rem !important;
//   padding: 1.5rem;
//   width: 100%;
// }

.ant-upload.ant-upload-drag .ant-upload-btn {
  display: table;
  height: 100%;
  padding: 0rem !important;
}

.ant-upload.ant-upload-drag {
  // width: 42% !important;
  height: 4.5%;
  margin-bottom: 2rem;
  border: none !important;
}