.modalResolution_formWrapper {
  width: 100%;
}

.modalResolution_badge {
  background-color: #09974d52;
  border-radius: 5px;
  color: #09974d;
  display: inline-block;
  padding: 0.3rem 0.5rem;
}

.modalResolution_header {
  color: #000;
  font-family: ttnorms;
  font-size: 2rem;
  font-weight: 600;
}

.form__input_submit_request {
  background-color: #ef3125;
  border: none;
  color: #fff;
  padding: 1.4rem;
  width: 100%;
}

.form__input_wrap {
  margin-bottom: 1rem;
  width: 100%;
}

.form__input_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input_label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5c6574;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8;
}

.form__input {
  background-color: #eeeef5;
  border: 1px solid #ced0d5;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.form__input::-webkit-input-placeholder {
  color: #5c6574;
}

.form__input:-ms-input-placeholder {
  color: #5c6574;
}

.form__input::-ms-input-placeholder {
  color: #5c6574;
}

.form__input::placeholder {
  color: #5c6574;
}

.form__input_inline > .form__input_box:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3rem;
  width: 60%;
}

.input__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input_date {
  margin-right: 1rem;
  width: 55%;
}

.form__input_time {
  margin-right: 1rem;
  width: 40%;
}

.poll_btn {
  background-color: #5c6574;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  padding: 2rem 4rem;
}

.validation__error {
  color: #ff4040;
}

.pollContainer {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #dfe5ec;
  border-radius: 6px;
  margin-bottom: 1rem;
  opacity: 1;
  padding: 6px 10px;
}

.pollDesc_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pollDesc_header_title {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-right: auto;
  opacity: 1;
  padding: 5px 9px;
}

.pollDesc_body {
  color: #030111;
  font-family: ttnorms;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.pollFooter {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  color: #09974d;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.breakdownCont {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #fbf0ef;
  font-family: ttnorms;
  color: #5c6574;
}

.breakDown_list {
  font-family: ttnorms;
  font-size: 1.3rem;
}
/*# sourceMappingURL=index.module.css.map */