.main {
  margin-top: 3rem;
  width: 90%;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.headerContainer_left_input {
  margin-top: 3rem;
}

.headerContainer_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.addPollWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.form__input_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__input_wrap {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.input_card_icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 3%;
  top: 30%;
}

.form__editInput {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #5c657426;
  border-radius: 5px;
  display: block;
  opacity: 1;
  outline: none;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.formInline__input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formInline__input_wrap .form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.formInline__input_wrap .form_option_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.formInline__input_wrap .form__input_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.formInline__input_wrap .form__input_col input {
  background: #eeeef5;
  outline: none;
  border: 1px solid #0b05471a;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  height: 4rem;
}

.formInline__input_wrap .form__input_col input:focus {
  border: 1px solid #ef3125;
  background: #fff;
}

.formInline__input_wrap .input_card_icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 3%;
  top: 30%;
}

.formInline__input_wrap .form__editInput {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #5c657426;
  border-radius: 5px;
  display: block;
  opacity: 1;
  outline: none;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.formInline__input_wrap .formInline__input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.formInline__input_wrap .formInline__input_wrap .form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.formInline__input_wrap .formInline__input_wrap .form__input_box .form__editInput:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 1rem;
}

.formInline__input_wrap .formInline__input_wrap .form__input_box .form__editInput:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.formInline__input_wrap .formInline__input_wrap .form__input_box:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 4rem;
}

.formInline__input_wrap .formInline__input_wrap .form__input_box:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.formInline__input_wrap .input_card_iconLine {
  position: absolute;
  right: -10%;
  top: 40%;
}

.formInline__input_wrap .pollTitle {
  color: #09974d;
  font-family: ttnorms;
  font-size: 1.4rem;
  opacity: 1;
}

.formInline__input_wrap .pollDate {
  color: rgba(0, 0, 0, 0.45);
  font-family: ttnorms;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.formInline__input_wrap .pollContainer {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #dfe5ec;
  border-radius: 6px;
  margin-bottom: 1rem;
  opacity: 1;
  padding: 6px 10px;
}

.formInline__input_wrap .pollDesc_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formInline__input_wrap .pollDesc_header_title {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-right: auto;
  opacity: 1;
  padding: 5px 9px;
}

.formInline__input_wrap .pollDesc_header_ellipse,
.formInline__input_wrap .pollDesc_header_icon {
  cursor: pointer;
}

.formInline__input_wrap .pollDesc_body {
  color: #030111;
  font-family: ttnorms;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.formInline__input_wrap .pollFooter {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  color: #09974d;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.formInline__input_wrap .tableContainer {
  margin-top: 3rem;
}

.formInline__input_wrap .uploadedDoc_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formInline__input_wrap .uploadedDoc_list_item {
  background: #fbfcfc 0% 0% no-repeat padding-box;
  border: 1px dashed #6d76834d;
  border-radius: 5px;
  opacity: 1;
  padding: 15px;
  width: 30%;
}

.formInline__input_wrap .uploadImg {
  width: 50px;
}

.formInline__input_wrap .uploadImg_name {
  color: #8c929c;
  font-size: 1.3rem;
}

.formInline__input_wrap .uploadFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.formInline__input_wrap .uploadFile {
  font-size: 1.6rem;
  font-weight: 500;
}

.formInline__input_wrap .uploadedDoc_list_item {
  margin-bottom: 2rem;
  margin-right: 5%;
}

.formInline__input_wrap .uploadedDoc_list_item:nth-child(3n + 0) {
  margin-right: 0;
}

.formInline__input_wrap .tableHeader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.formInline__input_wrap .iconBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  background-color: #e6eaed;
  border: none;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  outline: none;
  padding: 1.2rem;
  position: absolute;
  right: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 30px;
}

.formInline__input_wrap .tableHeader_iconList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

.formInline__input_wrap .btnGroup_item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6eaed;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  outline: none;
  width: 30px;
}

.formInline__input_wrap .linkImg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940341/apems/consert5_b5bxzw.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940341/apems/consert5_b5bxzw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100px;
  position: relative;
}

.formInline__input_wrap .uploadLink_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4rem;
}

.formInline__input_wrap .uploadLink_item {
  margin-bottom: 2rem;
  margin-right: 5%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  width: 40%;
}

.formInline__input_wrap .uploadLink_item:nth-child(2n + 0) {
  margin-right: 0;
}

.formInline__input_wrap .headerLink {
  font-size: 1.5rem;
  font-weight: 400;
}

.formInline__input_wrap .form__input_submit_request {
  border: none;
  color: #fff;
  margin-top: 1.5rem;
  padding: 1.4rem;
  width: 100%;
}

.formInline__input_wrap .upload_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formInline__input_wrap .form__input_submit_left {
  background-color: #ef3125;
  width: 70%;
}

.formInline__input_wrap .form__input_submit_right {
  background-color: #fff;
  border: 1px solid #ef3125;
  color: #ef3125;
  width: 25%;
}

.formInline__input_wrap .template_header {
  color: #000;
  font-family: ttnorms;
  font-size: 2rem;
  font-weight: 600;
}

.formInline__input_wrap .template_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.formInline__input_wrap .uploadedDoc_title,
.formInline__input_wrap .uploadLink_title {
  font-family: ttnorms;
}

.formInline__input_wrap .folder_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formInline__input_wrap .uploadedDoc {
  margin-bottom: 3rem;
}

.formInline__input_wrap .panelIstContainer_wrap {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.formInline__input_wrap .panelIstContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formInline__input_wrap .addPollBtn {
  border: 1px solid var(--color-success);
}

.formInline__input_wrap .addtextBtn {
  font-family: ttnorms;
  font-size: 13px;
  color: red !important;
}

.formInline__input_wrap .analytics {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.formInline__input_wrap .analytics_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formInline__input_wrap .analytics_header_left {
  font-family: ttnorms;
  font-size: 2rem;
  font-weight: 600;
  margin-right: auto;
}

.formInline__input_wrap .analytics_header .form__editInput:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.formInline__input_wrap .form__input_box:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 4rem;
}

.formInline__input_wrap .form__input_box:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.input_card_iconLine {
  position: absolute;
  right: -10%;
  top: 40%;
}

.pollTitle {
  color: #09974d;
  font-family: ttnorms;
  font-size: 1.4rem;
  opacity: 1;
}

.pollDate {
  color: rgba(0, 0, 0, 0.45);
  font-family: ttnorms;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.pollContainer {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #dfe5ec;
  border-radius: 6px;
  margin-bottom: 1rem;
  opacity: 1;
  padding: 6px 10px;
}

.resolutionCard {
  width: 45%;
}

.pollDesc_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pollDesc_header_title {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-right: auto;
  opacity: 1;
  padding: 5px 9px;
}

.pollDesc_body {
  color: #030111;
  font-family: ttnorms;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.pollFooter {
  background: #edeef1 0% 0% no-repeat padding-box;
  border: 1px solid #e6eaed;
  border-radius: 3px;
  color: #09974d;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.tableContainer {
  margin-top: 5rem;
}

.uploadedDoc_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uploadedDoc_list_item {
  background: #fbfcfc 0% 0% no-repeat padding-box;
  border: 1px dashed #6d76834d;
  border-radius: 5px;
  opacity: 1;
  padding: 15px;
  width: 30%;
}

.uploadImg {
  width: 50px;
}

.uploadImg_name {
  color: #8c929c;
  font-size: 1.3rem;
}

.uploadFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.uploadFile {
  font-size: 1.6rem;
  font-weight: 500;
}

.uploadedDoc_list_item {
  margin-bottom: 2rem;
  margin-right: 5%;
}

.uploadedDoc_list_item:nth-child(3n + 0) {
  margin-right: 0;
}

.tableHeader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.2rem;
}

.tableHeader_title {
  color: #030111;
  font-family: ttnorms;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-right: 20%;
  opacity: 1;
  text-align: left;
}

.uploadIcon {
  color: #5c6574;
}

.searchWrapper {
  padding: 0;
  position: relative;
}

.iconBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  background-color: #e6eaed;
  border: none;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  outline: none;
  padding: 1.2rem;
  position: absolute;
  right: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 30px;
}

.tableHeader_iconList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

.btnGroup_item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6eaed;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  outline: none;
  width: 30px;
}

.linkImg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1))), url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940341/apems/consert5_b5bxzw.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940341/apems/consert5_b5bxzw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100px;
  position: relative;
}

.uploadLink_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uploadLink_item:nth-child(2n + 0) {
  margin-right: 0;
}

.headerLink {
  font-size: 1.5rem;
  font-weight: 400;
}

.form__input_submit_request {
  border: none;
  color: #fff;
  padding: 1.4rem;
  width: 100%;
}

.upload_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input_submit_left {
  background-color: #ef3125;
  width: 70%;
}

.form__input_submit_right {
  background-color: #fff;
  border: 1px solid #ef3125;
  color: #ef3125;
  width: 25%;
}

.template_header {
  color: #000;
  font-family: ttnorms;
  font-size: 2rem;
  font-weight: 800;
}

.template_para {
  font-family: ttnorms;
  font-weight: 400;
  width: 30%;
}

.form__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  width: 78%;
}

.uploadedDoc_title,
.uploadLink_title {
  font-family: ttnorms;
}

.folder_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uploadedDoc {
  margin-bottom: 3rem;
}

.panelIstContainer_wrap {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.panelIstContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addPollWrap {
  padding: 6rem 0;
}

.addPollBtn {
  border: 1px solid var(--color-success);
}

.addtextBtn {
  font-family: ttnorms;
  font-size: 13px;
  color: red !important;
}

.templateContainer_banner {
  width: 90%;
  margin: auto;
}

.template_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.uploadContent_two {
  color: #ef3125;
}

.uploadContent_note {
  color: #ced3d9;
}

.uploadSubText {
  color: #5c6574;
  cursor: pointer;
  font-size: 1.3rem;
}

.uploadSubText_right {
  color: #ef3125;
}

.template_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.template_contBtd {
  background-color: #ff4040;
  color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 1.4rem 3rem;
}

.resoluteBtn {
  border: 1px solid #09974d;
  background-color: #fff;
  margin-top: 1rem;
}

.filterContainer {
  border-top: 1px solid #e2e5ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filterContainer_update {
  background-color: #5c6574;
  color: #fff;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
  font-family: ttnorms;
  cursor: pointer;
}

.filterContainer_delete {
  cursor: pointer;
  background-color: #fbebea;
  color: #ef3125;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
  font-family: ttnorms;
}

.image_banner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image_banner_container_group {
  width: 48%;
}

.upload_box {
  margin-top: 1rem;
}

.uploadContent {
  font-family: ttnorms;
  font-size: 1.3rem;
}

.uploadContent p {
  color: #ced3d9;
  font-family: ttnorms;
}

.uploadContent_one {
  color: #8d8d8d;
}

.uploadContent_two {
  color: #ef3125;
}

.uploadContent_note {
  color: #ced3d9;
}

.mt_3 {
  margin-top: 3rem;
  font-size: 1.15rem;
}

.send_SMS {
  height: auto;
  padding-bottom: 2rem;
}

.send_SMS_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: orangered;
  border-radius: 5px 5px 0 0;
  height: 12rem;
}

.send_SMS_header_box {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  background: #2f89fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send_SMS_header h3 {
  margin: 1rem 0 0 0;
  font-family: ttnorms;
  font-size: 1.4rem;
}

.send_SMS_header span {
  margin: 0;
  font-family: ttnorms;
  font-size: 1.2rem;
  opacity: 0.56;
}

.send_SMS_body {
  background: #f8f9fa;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0 0 5px 5px;
}

.send_SMS_body label {
  margin: 0;
  font-family: ttnorms;
  font-size: 1.3rem;
  opacity: 0.56;
}

.send_SMS_body_contact_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
}

.send_SMS_body_contact_group input {
  border: 1px solid #99999966;
  border-radius: 5px;
  width: 84%;
  font-family: ttnorms;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
}

.send_SMS_body_contact_group_box {
  width: 12%;
  height: 100%;
  border-radius: 8px;
  background: #2f89fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.send_SMS_body_message {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.send_SMS_body_message textarea {
  border: 1px solid #99999966;
  border-radius: 5px;
  width: 100%;
  height: 15rem;
  font-size: 1.1rem;
  padding: 1rem;
}

.send_SMS_footer {
  width: 100%;
  border-top: 1px solid #99999966;
  margin-top: 1rem;
  color: #fff;
}

.send_SMS_footer button {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: ttnorms;
  color: #fff;
  background: #ef3125 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.templateContainer {
  border-radius: 20px;
  padding-bottom: 1rem;
}

.attendee_contacts {
  background-color: #2b2b2b;
  height: 80vh;
  border-radius: 5px;
  padding: 1rem;
}

.attendee_contacts_search {
  padding-top: 4rem;
  position: relative;
  width: 100%;
}

.attendee_contacts_search input {
  border: 1px solid #99999966;
  background: #f5f7f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 100%;
  font-family: ttnorms;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  height: 4rem;
  margin-bottom: 0.5rem;
}

.attendee_contacts_title {
  padding-top: 1rem;
  border-top: 1px solid #99999966;
}

.attendee_contacts_title_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attendee_contacts_title h5 {
  font-family: ttnorms;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  margin-bottom: 0;
}

.contact_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.contact_card_detail {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_card_detail_avatar {
  width: 4rem;
  height: 4rem;
  background: #ffe5e4;
  border: 2px solid #ef3125;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_card_detail_avatar span {
  font-family: ttnorms;
  font-size: 1rem;
  color: #ef3125;
}

.contact_card_detail_desc {
  margin-left: 1rem;
}

.contact_card_detail_desc h5 {
  font-size: 0.8em;
  margin: 0;
  font-family: ttnorms;
  color: #fff;
}

.contact_card_detail_desc span {
  font-size: 0.65em;
  letter-spacing: 0.42px;
  color: #e6eaed;
  opacity: 0.5;
}

.addProxyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questionBox {
  background-color: #2f89fe;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addTitle {
  font-family: ttnorms;
  font-size: 1.4rem;
  font-weight: 500;
}

.addDesc {
  font-size: 1.4rem;
  font-family: ttnorms;
  font-weight: 400;
}

.form__input_submit_request {
  background-color: #ef3125;
  border: none;
  color: #fff;
  padding: 1.4rem;
  width: 100%;
}

.form__input_submit_right {
  background-color: #fff;
  border: 1px solid #ef3125;
  color: #ef3125;
  width: 25%;
}

.containerNav_iconBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #acb3bd;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  justify-content: center;
  margin-bottom: 9rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: 30px;
}

.resolutionTab {
  background-color: #f7f7f7;
  font-family: ttnorms;
  padding: 15px;
  line-height: 30px;
  color: #5c6574;
  border-radius: 5px;
}

.stakeHolderBox,
.stakeHolderPos {
  border-color: #6d7683;
  border-width: 0 0 2px;
  outline: none;
  outline: 0;
  background-color: transparent;
}

.stalkholder_textarea {
  border-color: #6d7683;
  border-width: 0 0 0px;
  outline: none;
  outline: 0;
  background-color: transparent;
  width: 100%;
  line-height: 26px;
}

.form__input_view {
  margin-top: 2rem;
  background: #5c6574 0% 0% no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
  color: #fff;
  border-radius: 10px;
  font-family: ttnorms;
  border: none;
  padding: 2rem 6rem;
  font-weight: 500;
}

.input_box_cand_wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.form__input_cand {
  background-color: #eeeef5;
}

.menuItem {
  color: #8d8d8d;
  font-family: ttnorms;
  font-size: 1.2rem;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_container_btnContainer_btn {
  border: 1px solid #09974d;
  border-radius: 5px;
  color: #09974d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
  padding: 1.5rem 2rem;
}

.main_container_btnContainer_btn_icon {
  margin-right: 1.5rem;
}

.main_container_btnContainer_res {
  border: 1px solid #09974d;
  border-radius: 5px;
  color: #09974d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
  padding: 1.5rem 2rem;
}

.addResourceCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=index.module.css.map */