.container {
  min-width: 35.5rem;
  height: 13.5rem;
  background: #030111 0% 0% no-repeat padding-box;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  // & > .ant-dropdown-menu-item {
  //   padding: 3px 12px !important;
  // }
}
.recording_avatar {
  border-radius: 5px;
  background: #a7a4bb 0% 0% no-repeat padding-box;
  border: 1px solid #DBDBDB;
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_play {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
.recording_detail {
  background: inherit;
  width: 58%;
  color: white;
  &_title {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: ttnorms;
    margin: 0 !important;
  }
}
.recording_desc {
  background: inherit;
  width: 100%;
  border-top: 1px solid rgb(64, 64, 77);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  p {
    font-size: 1rem;
    font-family: ttnorms;
    letter-spacing: 0.48px;
    color: #C6C6C6;
  }
  &_ellipse {
    cursor: pointer;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
}
.menu_container {
  width: 13rem;
  &_desc {
    font-family: ttnorms;
    font-size: 0.85rem;
    padding: 0.1rem !important;
  }
}