@import "../../../styles/abstracts/mixins";
.goog-te-gadget {
  font-family: Roboto, "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
.goog-te-gadget-simple {
  border-radius: 4px !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem !important;
  line-height: 2rem !important;
  padding: 8px !important;
  zoom: 1;
  @media (max-width: 600px) {
    padding: 6px !important;
  }
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
}
// .goog-te-menu-value span:nth-child(5) {
//   display: none;
// }

.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0 0;
  display: none;
  height: 32px !important;
  margin-right: 8px !important;
  width: 32px !important;
}
.sidebarMenu_icon {
  color: #fff;
}

.sidebarMenu_icon_black{
  color: #000;
}
.inverse__nav {
  background-color: #fff;
  border-bottom: 1px solid #dbe2e8;
  box-shadow: inset 0 0 0 0 #dbe2e8;
  margin: 0;
  position: fixed;
  width: 100%;
  // box-shadow: 0px 5px 20px #0000001a;
  @include respond(phone) {
    position: absolute;
    
  }
}
.inverse__nav a:not(:last-child) {
  color: #000;
   
}
.inverse__nav .join_text {
  color: #fff;
}
.inverse__nav .sidebarMenu_icon {
  color: #000;
}
.inverse__nav .goog-te-gadget {
  font-family: Roboto, "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
.inverse__nav .goog-te-gadget-simple {
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem !important;
  line-height: 2rem !important;
  padding: 8px !important;
  zoom: 1;
  @media (max-width: 600px) {
    padding: 6px !important;
  }
}
.goog-te-menu2 {
  max-width: 100%;
}
.inverse__nav .goog-te-menu-value {
  color: #000 !important;
}

.customSignin {
  border: 1px solid #fff;
  border-radius: 3.3rem;
  padding: 1rem 2.4rem;
}

.goog-te-menu2 {
  background-color: rgb(161, 161, 133) !important;
}

.goog-te-menu2-item-selected {
}

.goog-te-menu2-item-selected div,
.goog-te-menu2-item-selected:link div {
}
.goog-te-menu2-item {
}
.goog-te-menu2-item div,
.goog-te-menu2-item:link div {
  background-color: rgb(161, 161, 133) !important;
}

.goog-te-menu2-item div,
.goog-te-menu2-item:link div,
.goog-te-menu2-item:visited div,
.goog-te-menu2-item:active div {
}
