.container {
  margin-right: 1rem;
  margin-top: 1.5rem;
}
.container_img {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.container_title {
  font-family: ttnorms;
  margin-top: 1rem;
}
