@import "../../../styles/abstracts/mixins";

.cardList_container {
  display: flex;
  justify-content: space-between;
  @include respond(tab-land) {
    width: 100%;
  }
  @include respond(phone) {
    flex-direction: column;
  }
}

.templateList {
  cursor: pointer;
  margin-bottom: 2rem;
  margin-right: 2%;
  width: 32%;
}
.templateContainer_title {
  color: #000;
  font-family: ttnorms;
  font-size: 2.5rem;
  font-weight: 700;
}
.templateList_img {
  border-radius: 20px;
  height: 130px;
  width: 100%;
}
.templateList:nth-child(3n + 0) {
  margin-right: 0;
}
.templateList_content {
  margin-top: 3rem;
  text-align: center;
}
.templateList_content_desc {
  color: #5c6574;
  margin: auto;
  width: 50%;
}
.templateList_content_title {
  color: #000;
  font-family: ttnorms;
  font-size: 1.5rem;
  font-weight: 600;
}

.ticketContainer {
  background: #f8f7fa 0% 0% no-repeat padding-box;
  border-radius: 20px;
  margin-bottom: 2rem;
  opacity: 1;
  padding: 2rem;
}

.ticketContainer_title {
  color: #000;
  font-family: ttnorms;
  font-size: 1.5rem;
  font-weight: 600;
}
.ticketContainer_para {
  border-bottom: 1px solid #bac1ca;
  color: #5c6574;
  font-family: ttnorms;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
.ticketContainer_sec {
  color: #000;
  font-family: ttnorms;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.pollList {
  background-color: #363636;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  font-family: ttnorms;
  justify-content: space-between;
  margin-bottom: 1rem;
  opacity: 1;
  width: 100%;
}
.resourceItem {
  background: #e2e2e7 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e7;
  border-radius: 10px;
  display: flex;
  font-family: ttnorms;
  justify-content: space-between;
  margin-bottom: 1rem;
  opacity: 1;
  padding: 1.3rem;
  width: 100%;
}
.cardContent {
  color: #5c6574;
  display: flex;
  margin-right: auto;
  width: 100%;
}
.iconBox {
  margin-right: 10px;
}
.resourceName {
  font-size: 1.3rem;
  color: #fff;
}
.cardAmount {
  color: #09974d;
  display: block;
}

.radioBtn {
  color: #fff;
}
.resourceTitle {
  font-family: ttnorms;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.resourceItem_selected {
  background-color: #2f89fe;
  border: none;
  color: #fff;
  & > * {
    color: #fff;
  }
}

.toggle_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.toggle_box {
  display: flex;
  border-radius: 3px;
  justify-content: center;
  padding: 14px 12px;
  background-color: #eeeef5;
  border: none;
  width: 48%;
  height: 100%;
  cursor: pointer;
  text-transform: capitalize;
}
.toggle_box_active {
  display: flex;
  text-transform: capitalize;
  border-radius: 3px;
  justify-content: center;
  padding: 14px 12px;
  background-color: #ef3125;
  border: none;
  width: 48%;
  height: 100%;
  cursor: pointer;
  color: white;
}

.candidPhoto {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.radio-card-item {
}

.bioContainer {
  padding: 10px;
  padding-left: 4rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.headerLeft,
.candidTitle {
  font-family: ttnorms;
  font-weight: 800;
  color: #000;
  font-size: 1.7rem;
}
.headerRight {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.headerLeft {
  margin-right: auto;
}
.bioBody {
  display: flex;
  gap: 40px;
}
.bioBodyLeft {
  width: 40%;
  height: 320px;
}
.bioDesc {
  width: 60%;
}
.candidBio {
  height: 300px;
  overflow-y: auto;
  text-align: justify;
}
.candidFull {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
