@import "../../../styles/abstracts/mixins";
.form__container {
  width: 100%;
}
.form__wrapper {
  margin: 0 auto;
  width: 40%;
  @include respond(phone) {
    width: 100%;
  }
}
.form__input_wrap {
  margin-bottom: 1.9rem;
  width: 100%;
}
.form__input_inline {
  display: flex;
  justify-content: space-between;
  @include respond(phone) {
    flex-direction: column;
  }
}
.form__input_inline > .form__input_box {
  flex: 0 0 45%;
  @include respond(phone) {
    margin-bottom: 2rem;
  }
}
.form__input_box {
  display: flex;
  flex-direction: column;
}

.form__input_label {
  color: #565b63;
  color: #565b63;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.signup_term,
.signup_privacy,
.navLink {
  color: #ff4040;
  text-decoration: underline;
}

.form__label_text {
  margin-left: 20px;
}
.form__input {
  border: 0.1px solid #5c65748f;
  outline: none;
  padding: 1.3rem;
}
.form__input_submit_request {
  background-color: #ff4040;
  border: none;
  color: #fff;
  padding: 1.4rem;
  width: 100%;
}
.form__wrapper {
  background: url("https://res.cloudinary.com/solomonfrank/image/upload/v1655940344/apems/group_cn9j34.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 75% 50%;
  position: relative;
  z-index: 1000;
}
.header_form {
  margin-bottom: 3rem;
  text-align: center;
}
.form__signup_header {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  @include respond(phone) {
    font-size: 4rem;
  }
}
.form__signup_subtitle {
  font-size: 16px;
  font-weight: bold;
  @include respond(phone) {
    display: none;
  }
}
.form_group {
  position: absolute;
  z-index: 2;
}

.form_options {
  color: #8d8d8d;
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}
.form__social_media {
  display: flex;
  justify-content: space-between;
}
.blur_block,
.blur_block_green {
  background: #ffa640 0% 0% no-repeat padding-box;
  border-radius: 50%;
  filter: blur(35px);
  height: 61px;
  left: 10%;
  opacity: 1;
  position: absolute;
  top: 40%;
  width: 61px;
  @include respond(phone) {
    display: none;
  }
}
.blur_block_green {
  background: #09974d 0% 0% no-repeat padding-box;
  filter: blur(35px);
  left: 130%;
  opacity: 1;
  top: 70%;
  @include respond(phone) {
    display: none;
  }
}
.validation__error {
  color: #ff4040;
}
